{% extends 'layout.html' %}
{% block body%}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="./static/sokoni.png" alt=""/>
            <h3>Welcome</h3>
            <p>We are here for you!</p>
            <input type="submit" name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right" style="">
        </div>
    </div>
</div>
</div>
</div>

</div>

{% endblock body %}
